<div class="row">
  <ul style="list-style: lower-greek">
    <li ng-repeat="doc in ingredient.data | orderBy: 'name'">
      <a class="" style="text-transform: capitalize"
         ng-href="#/ingredient/view/_id/{{doc._id}}"><span>{{doc.name}}</span>
      </a>
      <ul style="display: inline-block; text-decoration: none;" class="pull-right">
        <li class="" ng-repeat="tag in doc.tag track by $index" style="display: inline; text-align: right">
          <a style="font-size: xx-small" class="label label-pill label-info" ng-href="#/tag/view/_id/{{tag._id}}">{{tag.name}}</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
