<div class="row">
  <ul style="list-style: lower-greek">
    <li ng-repeat="doc in ingredient.data | orderBy: 'name'" class="">
      <div class="col-sm-4">
        <a style="text-transform: capitalize" ng-href="#/ingredient/view/_id/{{doc._id}}">
          <span>{{doc.name}}</span>
        </a>
        <ul style="display: inline-block; text-decoration: none;" class="pull-right">
          <li class="" ng-repeat="tag in doc.tag track by $index" style="display: inline; text-align: right">
            <a style="font-size: xx-small" class="label label-pill label-info" ng-href="#/tag/view/_id/{{tag._id}}">{{tag.name}}</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-8 panel panel-warning">
          <div class="panel-heading">
            Relatif
          </div>
        <div class="panel-body">
        <ul style="list-style: cjk-ideographic">
          <li class="" style="display: block; text-decoration: none;" ng-repeat="related in ingredient.related.recipe">
            <a ng-href="#/recipe/view/_id/{{related._id}}">
              {{related.name}}
            </a>
          </li>
        </ul>
        <ul style="list-style: hiragana">
          <li class="" style="display: block; text-decoration: none;" ng-repeat="related in ingredient.related.tag">
              <a ng-href="#/recipe/view/_id/{{related._id}}">
                {{related.name}}
              </a>
          </li>
        </ul>
        </div>
      </div>
    </li>
  </ul>
</div>
