<div class="">
  <ul style="list-style: lower-greek">
    <li ng-repeat="doc in tag.data | orderBy: 'name'" class="row">
      <a class="col-md-3" style="text-transform: capitalize" ng-href="#/tag/view/_id/{{doc._id}}">
        {{doc.name}}
      </a>
      <div class="col-md-9 panel panel-warning">
        <div class="panel-heading">
          Relatif
        </div>
        <div class="panel-body">
        <ul style="list-style: cjk-ideographic  ">
          <li class="" style="" ng-repeat="related in tag.related.recipe">
            <span class=""><a ng-href="#/recipe/view/_id/{{related._id}}">{{related.name}}</a></span>
          </li>
        </ul>
        <ul style="list-style: hebrew">
          <li class="" style="" ng-repeat="related in tag.related.tag">
            <span class=""><a ng-href="#/ingredient/view/_id/{{related._id}}">{{related.name}}</a></span>
          </li>
        </ul>
          </div>
        </div>
    </li>
  </ul>
</div>
